body {
    background-color: beige;
}
form, input, button {
    margin: 10px;
    padding: 08px;
}
fieldset {
    width: 600px;
}
button {
    margin-left: 250px;
}
.division {
    display: flex;
}
.multiple {
    margin-left: 40px;
}
.multiple button {
    margin-left: 225px;
}
.pays {
    margin-top: 100px;
    margin-left: 50px;
}